#Byte-compiled / optimized / DLL files / SWP
__pycache__/
*.py[cod]
*$py.class
*.swp


#Mac custom attributes file (Desktop Service Store)
.DS_Store

#PyCharm files
.idea/

#instance folder
instance/
*.cfg
